<div style="margin: 50px;">
  <label style="margin-right: 10px"  for="">Encriptar</label>
  <input [(ngModel)]="encriptar" (blur)="encriptarPalabra()" type="text"/>
</div>
<div style="margin: 50px;">
  <label style="margin-right: 10px" for="">Encriptado</label>
  <input [(ngModel)]="encriptado" type="text"/>
</div>
<div style="margin: 50px;">
  <label style="margin-right: 10px" for="">Desencriptar</label>
  <input [(ngModel)]="desencriptar" (blur)="desencriptarPalabra()" type="text"/>
</div>
<div style="margin: 50px;">
  <label style="margin-right: 10px" for="">Desencriptado</label>
  <input [(ngModel)]="desencriptado" type="text"/>
</div>

<div #myNameElem></div>

<button (click)="getValue()">Get Value</button>
